#login {
    background: url(../image/Enquete_Agricole.jpg);
    background-size: cover;
    height: 100vh;
}

#register {
    background: url(../image/Enquete_Agricole3.jpg);
    background-size: cover;
    height: 100vh;
}

#ajout {
    background: url(../image/sphere.jpg);
    background-size: cover;
    height: 100vh;
}

#home {
    background: url(../image/Enquete_Agricole3.jpg);
    opacity: .9;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#home table {
    height: 70vh;
}

#home .card {
    background: transparent !important;
    color: wheat!important;
}